#edit_post_modal {
    z-index: 2000;
}

.modal.edit_post {
    width: 50%;
    padding: var(--default-padding);
}

.modal.edit_post,
.form-main {
    height: fit-content;
    gap: 1rem;
}

.form-main.flex-row,
.form-main.flex-row>div {
    flex: 1
}

.form-main.flex-row,
#edit_post_modal #description {
    width: 100%;
    height: 100%;
}

#post_img {
    width: 60%;
    max-height: 450px;
    object-fit: cover;
}

/* .form-buttons {
} */