.modal.edit-profile {
    width: 50% !important;
    height: fit-content !important;
    padding: var(--default-padding);
}

.left-halve {
    flex: 1;
}

.left-halve>h3 {
    font-size: 2rem;
}

.img-preview {
    margin-right: 1rem
}

.img-button-wrapper {
    display: grid;
    place-items: center;
}

#img_picker {
    display: none;
}

#img_picker_btn {
    padding: 0.5em;
    border-radius: 5px;
}
/*
.file-input {
    position: relative;
    height: fit-content;
    overflow: hidden;
} 

/* .file-input input[type="file"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.file-input label {
    display: inline-block;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
}

.right-halve {
    flex: 1;
}

.right-halve>form {
    gap: 0.5rem;
}

.bio {
    padding: 0.3rem;
}

.button {
   justify-content: flex-end; 
   gap: 1rem;
}