.modal.edit-profile {
    width: 50% !important;
    height: fit-content !important;
    padding: var(--default-padding);
}

.left-halve {
    flex: 1;
}

.left-halve>h3 {
    font-size: 2rem;
}

.img-preview {
    margin-right: 1rem;
}

.img-button-wrapper {
    display: grid;
    place-items: center;
}

#img_picker {
    display: none;
}

#img_picker_btn {
    height: fit-content;
    padding: 0.5em;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.img-reminder {
    font-size: 0.8rem;
    font-weight: 300;
    font-style: italic;
}

.file-input {
    position: relative;
    height: fit-content;
    overflow: hidden;
}

.right-halve {
    flex: 1;
}

.right-halve>form {
    gap: 0.5rem;
}

#edit_profile_form input,
#edit_profile_form #bio {
    background-color: var(--default-white);
}

#edit_profile_form #email {
    font-weight: 100;
}

#edit_profile_form>.button-wrapper {
    justify-content: flex-end;
    gap: 1rem;
}