:root {
    --default-white: rgb(233, 233, 233);
    --default-black: rgb(28, 30, 31);
    --default-yellow: rgb(253, 210, 0);
    --default-dark_yellow: rgb(213, 168, 0);

    --default-light-opacity-bg: rgba(233, 233, 233, 0.5);
    --default-dark-opacity-bg: rgba(28, 30, 31, 0.5);

    --default-padding: 1em;
    --default-drop: 1px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
}

img {
    object-fit: cover;
}

a {
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    border: solid 1px red;
}

aside {
    width: 20%;
    background-color: var(--default-black);
    color: var(--default-white);
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    overflow: auto;
}

textarea {
    resize: none;
    padding: 0.3rem;
}

button {
    cursor: pointer;
}