.header {
    background-color: var(--default-white);
    padding: var(--default-padding);
    justify-content: space-between;
}

.search-area {
    flex: 1;
    justify-content: center;
}

#search_form {
    width: 50%;
}

#search_input,
#search_btn {
    background-color: transparent;
}

#search_input {
    flex: 1;
    padding: 0.5rem 1.2rem;
    border-top: 1px solid var(--default-black);
    border-right: none;
    border-left: 1px solid var(--default-black);
    border-bottom: 1px solid var(--default-black);
    border-radius: 2rem 0 0 2rem;
    font-size: 1rem;
}

#search_btn {
    padding: 0.2rem 0.8rem;
    border-top: 1px solid var(--default-black);
    border-right: 1px solid var(--default-black);
    border-left: none;
    border-bottom: 1px solid var(--default-black);
    border-radius: 0 2rem 2rem 0;
}

.right-sub-menu {
    gap: 1rem;
    height: 100%;
}

header #create_post_btn {
    height: 100%;
    background-color: transparent !important;
    border: 1px solid var(--default-black);
    color: var(--default-black);
    font-size: 1rem !important;
    font-weight: 600;
}

#search_btn:hover,
#create_post_btn:hover {
    background-color:var(--default-light-hover) !important;
}

.profile-icon-menu>img {
    border: 1px solid var(--default-black);
    position: relative;
    cursor: pointer;
}

.drop-down {
    display: none;
    width: 15vw;
    background-color: var(--default-black);
    color: var(--default-white);
    padding: 0.5rem;
    position: absolute;
    top: 4.5rem;
    right: 0.5rem;
    border-radius: 0.5rem;
}

.drop-down>ul {
    width: 100%;
    gap: 1.5rem;
}

.drop-down li {
    list-style-type: none;
    padding: 0.5rem;
    border-radius: var(--default-border-radius);
}

.drop-down li:hover {
    background-color: var(--default-light-hover);
}

.drop-down li>a>img {
    margin-right: 1rem;
}

.drop-down li>a>h3 {
    font-size: 1rem;
    color: var(--default-white);
}
