.img-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    gap: 1rem;
    padding: 1rem;
    background-color: var(--default-white);
}

.img-grid>div {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    aspect-ratio: 1 / 1;
}

.img-cont>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}