.banner,
#login,
#signup {
    height: 100vh;
    width: calc(100vw - 2px);
}

.banner {
    background-color: var(--default-white);
}

.banner-text,
.banner-logo {
    flex: 1;
}

.banner-text {
    width: fit-content;
    justify-content: center;
    padding: 3rem 0 3rem 6rem;
}

.banner-text-header {
    width: fit-content;
    gap: 1rem;
}

.banner-text-header>img {
    height: 10rem;
    width: fit-content
}

.banner-text-header>h1 {
    width: 25ch;
    font-size: 2.5rem;
    font-style: italic;
}

.banner-text>p {
    width: 60ch;
    margin-top: 2rem;
    font-size: 1rem;
}

.focus-button {
    margin-top: 1.5rem;
}

.banner-logo {
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.banner-logo>img {
    height: 100%;
    width: fit-content;
}

#login,
#signup,
.form-container {
    justify-content: center;
    align-items: center;
}

.form-container {
    height: 100%;
    width: fit-content;
}

.form-container>h1 {
    font-size: 5rem;
    font-weight: 900;
}

.form-container>p {
    max-width: 25ch;
    text-align: center;
}

.form-button {
    margin: 2rem 0;
}

.redirect-text {
    gap: 1rem;
}

.redirect-text * {
    text-align: center;
}

#login {
    background-color: var(--default-black);
}

#login * {
    color: var(--default-white);
}

#login_form {
    width: 100%;;
    margin-top: 2rem;
}

#login_form * {
    width: 100%;;
}

#login_form>label {
    margin-bottom: 0.5rem;
}

#login_form>input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
}

#login_btn {
    background-color: var(--default-yellow);
}