.logo {
    width: 100%;
    padding: 0 0 var(--default-padding) 0;
}

.logo>a>img {
    width: fit-content;
    height: 2rem;
    object-fit: contain;
}

.upper-halve {
    height: fit-content;
    margin-bottom: 1rem;
}

.lower-halve {
    flex: 1;
    overflow: auto hidden;
}

.halve-title {
    padding: 1rem 0;
}

.nav-link>img {
    height: 2rem;
    margin-right: 1em;
}