main-partition {
    display: flex;
    flex-direction: column;
}

.profile-details {
    background-color: var(--default-white);;
    padding: var(--default-padding);
    box-shadow: 0px 4px 6px var(--default-black);
}

.profile-details>img {
    width: fit-content;
    height: clamp(5rem, 13rem, 15rem);
    margin-right: 2rem;
}

.profile-texts {
    flex: 1;
    gap: 1rem;
}

.profile-texts > * {
    display: block;
}

.user-info>* {
    display: inline-block;
}

.username {
    font-size: 2rem;
    font-weight: 700;
    margin-right: 1rem
}

.user-id {
    font-size: 1.5rem;
    font-weight: 200;
}

.button-wrapper button {
    height: 100%;
}

.profile-texts #create_post_btn {
    background-color: var(--default-white);
    color: var(--default-black);
}

#block_user_btn {
    background-color: var(--default-white);
    color: var(--default-black);
}

#block_user_btn:hover {
    background-color: var(--default-red) !important;
    color: var(--default-white);
    border: 0.5px solid var(--default-red);
}

#user_bio {
    font-size: 0.8rem;
    font-weight: 300;
    max-height: 50rem;
    overflow-y: auto;
} 

.post-tabs {
    background-color: var(--default-white);
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--default-black);
    box-shadow: 0px 4px 6px var(--default-black);
    box-sizing: content-box;
}

.post-tabs button {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: var(--default-padding);
    align-items: center;
    gap: 1rem;
    font-weight: 600;
}

.content {
    display: none;
}

.content.active {
    display: grid;
}