.search-result {
    min-height: 100%;
}

.search-result > * {
    padding: var(--default-padding) var(--default-padding);

}

.search-result>.img-grid {
    flex: 1;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.search-result>.img-grid > * {
    width: 100%;
    height: fit-content;
    object-fit: cover;
}

.search-result>.user-list {
    background-color: var(--default-white);
    /* border-left: 1px solid var(--default-black); */
    min-width: 30%;
    gap: 0.5rem;
}

.user-list * {
    color: var(--default-black);
}

.user-wrapper>.flex-row>img {
    margin-right: 0.5rem;
}

.user-details>h4 {
    font-size: 1.2rem
}

.user-details>p {
    color: var(--default-dark-opacity-bg);
    font-size: 0.8rem;
}